<!DOCTYPE html>
<html lang="{% if page.language == nil %}en{% else %}{{ page.language }}{% endif %}">
<head>
  <script data-ad-client="ca-pub-6999702939234369" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="aexITLS38FdIRzwj25OVWxm87rpa9l-UV0URTyC9cTs" />
  <title>
    {{ page.title }}
    {% if page.category == 'blog' and page.url != '/blog/index.html' %}
    - Mo Shan
    {% endif %}
  </title>
  <link rel="stylesheet" href="../css/site.css">
  <link href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  {% if page.description %}<meta name="description" content="{{page.description}}" />{% endif %}
  <link rel="alternate" type="application/atom+xml" title="RSS Feed for Yong Yuan's blog" href="/feed.xml" />

  {% if page.url == '/index.html' %}
    <link rel="alternate" hreflang="en" href="/" />
  {% elsif page.url == '/cn/index.html' %}
    <link rel="alternate" hreflang="cn" href="/cn/" />
  {% endif %}

  {{ page.extra_head }}

  {% if page.category == 'blog' %}
    {% if page.photo %}
      <meta property="og:image" content="/images/posts/{{ page.photo }}" />
    {% endif %}
  {% endif %}
</head>

<body>
  <div class="header-container">
    <header class="inner">
      {% if page.url == '/cn/' %}
      <nav>
        <a class="{% if page.category == 'about-zh' %} selected {% endif %}" href="/cn/">关于</a>
        <a class="{% if page.category == 'project-zh' %} selected {% endif %}" href="/cn/project">项目</a>
        <!--<a class="{% if page.category == 'resume' %} selected {% endif %}" href="/resume/">Resume</a>-->
        <!--<a href="/resume/">简历</a>-->
        <a href="/YongYuan_resume.pdf">简历</a>
        <!--<a class="{% if page.category == 'publication' %} selected {% endif %}" href="/publication/">出版</a>-->
        <a class="{% if page.category == 'blog' %} selected {% endif %}" href="/blog/">博客</a>
        <a href="/books/">书单</a>
		    <a href="/timeline/">时间线</a>
        <a href="https://github.com/willard-yuan">Github</a>
      </nav>
      {% elsif page.url == '/cn/project' %}
      <nav>
        <a class="{% if page.category == 'about-zh' %} selected {% endif %}" href="/cn/">关于</a>
        <a class="{% if page.category == 'project-zh' %} selected {% endif %}" href="/cn/project">项目</a>
        <!--<a class="{% if page.category == 'resume' %} selected {% endif %}" href="/resume/">Resume</a>-->
        <!--<a href="/yuanyong_resume_cn.pdf">简历</a>-->
	      <a href="/YongYuan_resume.pdf">简历</a>
        <!--<a class="{% if page.category == 'publication' %} selected {% endif %}" href="/publication/">出版</a>-->
        <a class="{% if page.category == 'blog' %} selected {% endif %}" href="/blog/">博客</a>
	      <a href="/books/">书单</a>
		    <a href="/timeline/">时间线</a>
        <a href="https://github.com/willard-yuan">Github</a>
      </nav>
      {% else %}
      <nav>
        <a class="{% if page.category == 'about' %} selected {% endif %}" href="/">About</a>
        <!-- <a class="{% if page.category == 'resume' %} selected {% endif %}" href="/resume/">Resume</a> -->
	      <!--<a href="/yuanyong_resume_cn.pdf">Resume</a>-->
	      <a href="https://texlive2020.latexonline.cc/compile?git=https://github.com/shanmo/cv&target=main.tex&command=pdflatex">Resume</a>
        <a class="{% if page.category == 'publication' %} selected {% endif %}" href="/publication/">Publications</a>
        <a class="{% if page.category == 'project' %} selected {% endif %}" href="/project/">Projects</a>
        <!-- <a class="{% if page.category == 'blog' %} selected {% endif %}" href="/blog/">Blog</a> -->
	      <a href="https://medium.com/@shanmo">Blog</a>
        <a href="https://github.com/shanmo">GitHub</a>
      </nav>
	  {% endif %}

      <div class="pull-right right logo">
        <!--<div class="name">
          <a href="/">Yong Yuan</a><br />
          <small>
            <em>
              {% if page.url == '/cn/index.html' %}
                <a href="/cn">开发者</a>
              {% else %}
                <a href="/">developer</a>
              {% endif %}
            </em>
          </small>
        </div>-->
        <a href="http://moshanATucsd.github.io/"><img class="avatar" src="/images/IMG_4229.JPG" alt="My profile picture" /></a>
      </div>
      <div class="clear"></div>
    </header>
    <div class="clear"></div>
  </div>

  {{ content }}
  <!--<div class="separator"></div>-->

</body>
</html>
